<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MUD</title>
    <meta name="description" content="평행세계 탐험 텍스트 머드(multi user dungeon) 게임" />
</head>
<body>

{{{body}}}

</body>
</html>