extends layout
block content
  #joinButtonWrap
    button(data-id='1') Room1
    button(data-id='2') Room2
  #chat(style='display:none')
    h1
    #log
    input(type='text' id='message')
    button(type='button' id='submit') Submit
